/* You can add global styles to this file, and also import other style files */
:root {
	  --jumbotron-padding-y: 3rem;
	}
	
	.jumbotron {
	  padding-top: var(--jumbotron-padding-y);
	  padding-bottom: var(--jumbotron-padding-y);
	  margin-bottom: 0;
	  background-color: #fff;
	}
	@media (min-width: 768px) {
	  .jumbotron {
	    padding-top: calc(var(--jumbotron-padding-y) * 2);
	    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	  }
	}
	
	.jumbotron p:last-child {
	  margin-bottom: 0;
	}
	
	.jumbotron-heading {
	  font-weight: 300;
	  padding-bottom: 3rem;
	}
	
	.jumbotron .container {
	  max-width: 40rem;
	}
	
	footer {
	  padding-top: 3rem;
	  padding-bottom: 3rem;
	}
	
	footer p {
	  margin-bottom: .25rem;
	}
	
	.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
	
   .img-size {
	    height: 250px;
	    width: 100%;
	    border-top-left-radius: calc(.25rem - 1px);
	    border-top-right-radius: calc(.25rem - 1px);
	}
	
	.row-count {
	  padding-bottom: 1rem;
	}
	
	.box-shadow-height {
	  height: 327px;
	}
	
	.hide-overflow-text {
		width:300px;
    	height:20px;
		overflow: hidden;
	}
	
	.loader {
	 	border: 5px solid #f3f3f3;
	    border-radius: 50%;
	    border-top: 5px solid #007bff;
	    width: 30px;
	    height: 30px;
	    -webkit-animation: spin 2s linear infinite;
	    animation: spin 2s linear infinite;
	}
	
	/* Safari */
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	
	.padding-space {
		padding-left: 0.5rem;
	}
	
	.padding-space2 {
		padding-left: 1rem;
	}

